<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <form action="/product/<%=r[0].P_id %>?_method=PUT" method="post">
        <label for="">name</label>
        <input type="text" name="E_name" id="" value="<%=r[0].P_name%>">
        <br>
        <label for="">img url</label>
        <input type="text" name="E_img" id="" value="<%=r[0].P_img%>">
        <br>
        <label for="">Price</label>
        <input type="text" name="E_price" id="" value="<%=r[0].P_price%>">
        <br>
        <label for="">qty</label>
        <input type="text" name="E_qty" id="" value="<%=r[0].P_qty%>">
        <br>
        <label for="">Pid</label>
        <input type="text" name="E_id" id="" value="<%=r[0].P_id%>">
        <br>
        <button type="submit">EDIT</button>
    </form>
</body>
</html>